body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    display: grid;
    place-content: center;
    gap: 16px;
}

#display {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

#display > div {
    border: 2px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}